<launch>
    <arg name="use_analytic_ik" default="false"/>
    <arg name="max_iterations" default="50"/>
    <arg name="publish_rate" default="30"/>
    
    <include file="$(find astra_camera)/launch/dabai_dc1.launch"/>

    <node pkg="handpose_det" type="handpose_det_new_ik.py" name="handpose_det_new_ik_node" output="screen">
    </node>

    <node pkg="piper_kinematics" type="piper_ik_node" name="piper_ik_node" output="screen">
        <param name="use_analytic_ik" value="$(arg use_analytic_ik)"/>
        <param name="max_iterations" value="$(arg max_iterations)"/>
        <param name="publish_rate" value="$(arg publish_rate)"/>
    </node>

    <node pkg="piper_kinematics" type="interactive_pose_marker.py" name="interactive_pose_marker_node" output="screen">
    </node>

</launch>
